@model Domain.SubjectProfessor



<h3>Are you sure you want to delete the professor @Model.Professor.FirstName?</h3>


    <form asp-action="DeleteProfessorSubject" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="SubjectId" />
        <input type="hidden" asp-for="ApplicationUserId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
<a asp-action="Details" asp-route-id="@Model.SubjectId">Back to list</a> 